//全局样式
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: inherit;
}
ol,ul{
  list-style: none; //去掉点
}
button,input{
  font:inherit;//button和input的font默认不会继承父元素
}

:focus {
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; //去掉默认样式
}